:root {
  /* color-scheme: dark; */
}

html, body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.slot {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 7.5px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  background: #fafafa;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4) inset;
}

.symbols {
  position: absolute;
  top: 0;
  left: 0;
  transition: top 5s;
}

.symbol {
  width: 100px;
  height: 150px;
  font-size: 60px;
  line-height: 100px;
  display: block;
  text-align: center;
  padding-top: 25px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}
