:root {
  color-scheme: dark;
}

html, body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

body {
  background: #3284ce;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 22px;
}

@keyframes pop {
  from { transform: scale(130%); }
  to { transform: scale(100%); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.quest[pop=a] {
  animation: pop 80ms ease-out;
}

.quest[shine] {
  animation: spin 600ms ease-in-out;
}

.inline-block {
  display: inline-block;
}

#group {
  display: block;
}

.star {
  width: 30px;
  height: auto;
}

#pointsDisplay {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

#frequencyDisplay {
  position: absolute;
  top: 50px;
  left: 10px;
  font-size: 20px;
}
