body {
    background-color: pink;
}
p.nunito-text {
    font-size: 16px;
}
.nunito-text {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}
#moveable {
    width: 360px;
    height: 350px;
    text-align: center;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
#text {
    word-wrap: break-word;
    width: 50%;
    margin: 25%;
}
svg {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
input, button {
    display: block;
}
button {
    margin: 5px;
}